.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #0a2750;
  color: white;
}

.menu__title {
  max-width: 780px;
  padding-top: 100px;
  margin-bottom: 24px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  position: relative;
  justify-content: center;
  max-width: 780px;
  padding-bottom: 100px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.menu__cards {
  width: 100%;
  display: flex;
  top: 100px;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 100px;
}
