.nav__links {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  gap: 20px;
}

.nav__link {
  top: 30px;
  font-family: "Inter", "Arial", sans-serif;
  text-decoration: none;
  color: black;
}

.nav__link:hover {
  color: #2f80ed;
}
